:root {
--main-text-color: #212121;
--submain-text-color: #757575;
--accent-color: #2196F3;
--white-color: #FFFFFF;

--hero-footer-background-color: #2F303A;
--team-buttons-background-color: #F5F4FA;
}

body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

/* Logo */

.logo, .logo-span {
    font-family: Raleway, sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  
}
.logo-span {
    color: var(--accent-color);
}

/* Site nav */

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}

.nav-list-link, .contact-list-link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}
  
.contact-list-link:hover, 
.contact-list-link:focus{
    color: var(--accent-color);
}

.contact-list-link {
    color: var(--submain-text-color);
}

/* Main-Top */
.hero {
    background-color: var(--hero-footer-background-color);
    color: var(--white-color);  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--accent-color);
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: inherit;
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Advantages */

.title-hide, .our-projects-hide {
    display: none;
}
.advantages .title {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.description {
    color: var(--submain-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Duty */

.duty-title, .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-text-color);
}
.duty-immages {
    text-align: center;
    display: flex;    
}

/* Team */
.our-team {
    background-color: var(--team-buttons-background-color);
    text-align: center;
}

.name, .position {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;  
        letter-spacing: 0.03em;        
}
.position {
    font-weight: 500;
    color: var(--submain-text-color);
}

/* Footer */
.footer-part{
    background-color: var(--hero-footer-background-color);
}

.footer-part .logo {
    color: var(--white-color);
}
.contact-down-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-link {
    color: var(--white-color);
}


/* Portfolio */

.filter-buttons {
    display: flex;
}

.button-list {
    background-color: var(--team-buttons-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: inherit;
    border-radius: 4px;
}

.button-list:hover,
.button-list:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.name-of-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.type-of-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--submain-text-color);
}